<template>
	<v-container>
		<v-row>
			<v-col sm="12" md="3" v-if="answer">
				<MouseScroll></MouseScroll>
			</v-col>
			<v-col sm="12" md="6" offset-md="3" v-if="!answer">
				<v-card elevation="5">
					<v-card-text>
						<v-row>
							<v-col align="center">
								<h4>Вы готовы к такому испытанию?</h4>
							</v-col>
						</v-row>
						<v-row
								justify="space-around"
								align="center"
						>
								<v-btn
										elevation="2"
										@click="setEntryVar(true)"
										:disabled="disableEntryBtn"
								> Да!
								</v-btn>
								<v-btn
										elevation="2"
										@click="setEntryVar(false)"
										:disabled="disableEntryBtn"
								> Нет
								</v-btn>
						</v-row>
					</v-card-text>
				</v-card>
			</v-col>
			<v-col v-if="answer" sm="12" md="6" >
				<v-card>
					<v-card-text>
						<h4 v-if="entryAnswer"> {{ entryYes }} </h4>
						<h4 v-else> {{ entryNo }} </h4>
					</v-card-text>
				</v-card>
			</v-col>
			<v-col sm="12" md="3" v-if="answer" v-show="$vuetify.breakpoint.mdAndUp">
				<MouseScroll></MouseScroll>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
	import MouseScroll from "@/components/MouseScroll";

	export default {
		components: {
			MouseScroll,
		},
		name: "EntryAnswer",
		emits: ['check-var'],
		props: {
			modelValue: Boolean,
		},
		computed: {
			disableEntryBtn: function () {
				return this.activeEntryBtn;
			},
		},
		methods: {
			setEntryVar(choose) {
				this.entryAnswer = choose;
				this.answer = true;
				this.$emit('check-var', this.entryAnswer);
			}
		},
		data: () => ({
			answer: false,
			entryAnswer: true,
			activeEntryBtn: false,
			entryYes: "В этой истории Вы проживете два горячих рабочих дня завершающей фазы строительства, когда отсчет" +
				" идет не на дни, а буквально на часы. \n" +
				"Успехов!",
			entryNo: "Вы 100% шутите! \n" +
				"Конечно, мы уверены, что Вы готовы к любым испытаниям!\n" +
				"В этой истории Вы проживете два горячих рабочих дня завершающей фазы строительства, когда отсчет идет" +
				" не на дни, а буквально, на часы. \n" +
				"Успехов!",
		}),
	}
</script>

<style scoped>

</style>