<template>
	<v-container>
		<v-row v-if="!answer">
			<v-col sm="12" v-show="$vuetify.breakpoint.smAndDown">
				<v-card elevation="8">
					<v-img src="../assets/chinese-workers.jpg">
					</v-img>
				</v-card>
			</v-col>
			<v-col sm="12" md="6" offset-md="3">
				<v-row>
					<v-col align="center">
						<h4>Что делать?</h4>
					</v-col>
				</v-row>
				<v-row
					justify="space-around"
					align="center"
				>
						<v-btn
								elevation="2"
								:disabled="isDisabled"
								@click="setFEvars(true)"
						> Будить!
						</v-btn>
						<v-btn
								elevation="2"
								:disabled="isDisabled"
								@click="setFEvars(false)"
						> Пусть спят
						</v-btn>
				</v-row>
			</v-col>
		</v-row>
		<v-row v-if="answer">
			<v-col md="3" v-show="$vuetify.breakpoint.mdAndUp">
				<MouseScroll></MouseScroll>
			</v-col>
			<v-col md="6">
				<v-row>
					<v-col md="12">
						<v-card>
							<v-card-text>
								<span class="red--text" v-if="FEAnswer">
									График:  без изменений
								</span>
								<span class="green--text" v-if="!FEAnswer">
									Время: - 5 рабочих дней
								</span>
							</v-card-text>
						</v-card>
					</v-col>
				</v-row>
				<v-row>
					<v-col md="12">
						<v-card>
							<v-card-text v-if="!FEAnswer">
								<p>В отличии от Вас, Ваш прототип не стал церемониться со спящими на рабочем месте сотрудниками.</p>
								<p class="font-weight-bold">Потому что трудолюбивый человек должен по максимуму использовать полный рабочий день!</p>
								<p>Он буквально расталкивал спящих китайцев, поднимал их, выбрасывал из вагончиков, а они в ответ ругались по-китайски. Ничего хорошего из этого не вышло, он испортил отношения с китайскими специалистами, а это - время и деньги.</p>
								<p>Вы, конечно, своим решением тоже вопрос не решили, но хоть времени много не потеряли и отношения сохранили!</p>
							</v-card-text>
							<v-card-text v-if="FEAnswer">
								<p>Вы, как и Ваш прототип в реальной жизни, решили прекратить это вопиющее безобразие.</p>
								<p class="font-weight-bold">Потому что трудолюбивый человек должен по максимуму использовать полный рабочий день!</p>
								<p>Руководитель Проекта буквально расталкивал спящих китайцев, поднимал их, выбрасывал из вагончиков, а они в ответ ругались по-китайски.</p>
								<p>Ничего хорошего из этого не вышло.</p>
								<p>Вы испортили отношения с китайскими специалистами, а это, - время и деньги.</p>
							</v-card-text>
						</v-card>
					</v-col>
				</v-row>
			</v-col>
			<v-col md="3">
				<MouseScroll></MouseScroll>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
	import MouseScroll from "@/components/MouseScroll";

	export default {
		name: "FirstEpisodeAnswer",
		components: {
			MouseScroll,
		},
		props: {
			modelValue: Number,
		},
		emits: ['feanswer'],
		computed: {
			isDisabled: function () {
				return this.activeBtn;
			}
		},
		methods: {
			setFEvars(choose) {
				this.answer = true;
				this.FEAnswer = choose;
				this.activeBtn = true;
				if (choose)
					this.firstEEV = 0;
				else
					this.firstEEV -= 5;
				this.$emit('feanswer', this.firstEEV, choose);
			}
		},
		data: () => ({
			answer: false,
			FEAnswer: false,
			activeBtn: false,
			firstEEV: 0,
		}),
	}
</script>

<style scoped>

</style>