<template>
	<v-container>
		<v-row>
			<v-col md="4" offset="4">
				<v-card>
					<v-card-text>
						<span class="red--text">
							Время: + 10 рабочих дней (нарушение графика)
						</span>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
		<v-row>
			<v-col md="4" offset="4">
				<v-card>
					<v-card-text>
						<p>В отличии от Вас, Ваш прототип не стал церемониться со спящими на рабочем месте сотрудниками.</p>
						<p class="font-weight-bold">Потому что трудолюбивый человек должен по максимуму использовать полный рабочий день!</p>
						<p>Он буквально расталкивал спящих китайцев, поднимал их, выбрасывал из вагончиков, а они в ответ ругались по-китайски. Ничего хорошего из этого не вышло, он испортил отношения с китайскими специалистами, а это - время и деньги.</p>
						<p>Вы, конечно, своим решением тоже вопрос не решили, но хоть времени много не потеряли и отношения сохранили!</p>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
	export default {
		name: "FirstEpisodeSecondAnswer"
	}
</script>

<style scoped>

</style>