<template>
	<v-container>
		<v-row>
			<v-col md="4" offset="4">
				<v-card>
					<v-card-text>
						<span class="red--text">
							Время: + 15 рабочих дней (нарушение графика)
						</span>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
		<v-row>
			<v-col md="4" offset="4">
				<v-card>
					<v-card-text>
						<p>Вы, как и Ваш прототип в реальной жизни, решили прекратить это вопиющее безобразие.</p>
						<p class="font-weight-bold">Потому что трудолюбивый человек должен по максимуму использовать полный рабочий день!</p>
						<p>Руководитель Проекта буквально расталкивал спящих китайцев, поднимал их, выбрасывал из вагончиков, а они в ответ ругались по-китайски.</p>
						<p>Ничего хорошего из этого не вышло.</p>
						<p>Вы испортили отношения с китайскими специалистами, а это, - время и деньги.</p>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
	</v-container>


</template>

<script>
	export default {
		name: "FirstEpisodeFirstAnswer"
	}
</script>

<style scoped>

</style>