<template>
	<v-parallax
		dark="true"
		src="../assets/dtek_parallax_2.png"
		height="1100"
		id="my-lax"
	>
		<v-row>
			<v-col sm="12" md="4" offset-md="4">
				<v-card align="center" elevation="8">
					<h1>День Первый: <p>Понедельник. 13:17</p></h1>
				</v-card>
			</v-col>
		</v-row>
		<v-row>
			<v-col sm="12" md="6" offset-md="3">
				<v-card>
					<v-card-text>
						Завершающая фаза строительства.
						Работы по монтажу солнечных панелей и наладка
						<span class="font-weight-bold" v-show="$vuetify.breakpoint.mdAndUp">*инверторов</span>
						<span v-show="$vuetify.breakpoint.smAndDown">инверторов</span> идут сверхбыстрыми темпами.
						Люди работают практически 24/7.
						Вы постоянно инспектируете строительство.
					</v-card-text>
					<v-divider></v-divider>
					<v-img src="../assets/mounting_invertors.png" v-show="$vuetify.breakpoint.smAndDown">
					</v-img>
					<v-divider></v-divider>
					<v-card-text>
						<p>На прошлой неделе к работе подключились наладчики инверторов известной китайской компании-поставщика.</p>
						<p>Для того, чтобы уложиться экстремальные сроки нужно, чтобы они настраивали 5 инверторов в день.
							По отчетам прошедших трех дней они настраивают только 2.</p>
						Вы приезжаете на площадку в обеденное время и видите шокирующую картину:
						Уже прошло полчаса после обеда, а рабочие китайской компании… спят.
						Абсолютно открыто и демонстративно! <span class="font-weight-bold red--text">Спят</span> в вагончиках, в тени кустов и деревьев!
						Кто где пристроился там и спит.
					</v-card-text>
					<v-card-text>
						<span class="red--text font-weight-bold">«Днем спят только дети, старики, больные и лентяи!»</span>, - всплывает в вашей памяти громкий голос и грозное лицо отца.
					</v-card-text>
					<v-divider></v-divider>

				</v-card>
			</v-col>
			<v-col md="2" offset="1" v-show="$vuetify.breakpoint.mdAndUp">
				<v-card>
					<v-card-text>
						<p class="font-weight-bold" style="color: #324f9d;">
							*Инвертор – это устройство, которое преобразует ток от солнечных батарей.
						</p>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
		<v-row>
			<v-col sm="12" md="3" offset-md="2" v-show="$vuetify.breakpoint.mdAndUp">
				<v-card elevation="8">
					<v-img src="../assets/mounting_invertors.png">
					</v-img>
				</v-card>
			</v-col>
			<v-col md="3" offset="">
				<v-card elevation="8" v-show="$vuetify.breakpoint.mdAndUp">
					<v-img src="../assets/chinese-workers.jpg">
					</v-img>
				</v-card>
			</v-col>
			<v-col md="3" offset="" v-show="$vuetify.breakpoint.mdAndUp">
				<v-card elevation="8">
					<v-img src="../assets/mounting_inventors2.png">
					</v-img>
				</v-card>
			</v-col>
		</v-row>

	</v-parallax>
</template>

<script>
	export default {
		name: "FirstEpisode",
		methods: {
			setFEvars(choose) {
				this.visibleSecond = true;
				this.setFE = choose;
				if (choose)
					this.firstEEV += 15;
				else
					this.firstEEV += 10;
				this.activeBtn = true;
				if (this.estimate > 0)
					this.isEstimate = true;
				this.modelValue = this.firstEEV;
				console.log('estimate is ' + this.modelValue);
				this.$emit('change-estm', this.modelValue, choose);
			}
		},
		props: {
			modelValue: Number,
		},
		emits: ['change-estm'],
		computed: {
			isDisabled: function () {
				return this.activeBtn;
			}
		},
		data: () => ({
			visibleSecond: false,
			activeBtn: false,
			firstEEV: 0,
		}),
	}
</script>

<style scoped>
	#my-lax .v-parallax__content {
		background: linear-gradient(45deg, black, transparent);
	}

</style>