<template>
	<v-parallax
		dark="true"
		src="../assets/dtek_parallax_5.png"
		height="auto"
	>
		<v-row>
			<v-col sm="12" md="4" offset-md="4">
				<v-card align="center" elevation="8">
					<h1>Выводы: Мыслить стереотипно или мыслить системно?</h1>
				</v-card>
			</v-col>
		</v-row>
		<v-row>
			<v-col sm="12" md="3" >
				<v-expansion-panels v-show="$vuetify.breakpoint.smAndDown">
					<v-expansion-panel>
						<v-expansion-panel-header>
							Конституция Китайской Народной Республики
						</v-expansion-panel-header>
						<v-expansion-panel-content>
							<v-card>
								<v-img src="../assets/chainese_constitution.jpg">
								</v-img>
								<v-card-text>
									<p>Статья 43. Трудящиеся Китайской Народной Республики имеют право на отдых.
										Государство улучшает условия для отдыха и укрепления здоровья трудящихся, устанавливает для рабочих и служащих рабочее время и систему отпусков.
										<a href="http://www.npc.gov.cn/">http://www.npc.gov.cn/</a>
									</p>
								</v-card-text>
							</v-card>
						</v-expansion-panel-content>
					</v-expansion-panel>
					<v-expansion-panel>
						<v-expansion-panel-header>
							sleepingchinese
						</v-expansion-panel-header>
						<v-expansion-panel-content>
							<v-card>
								<v-card-text>
									<p>Вы знаете, что немецкий фотограф Бернд Хагеманн первый раз приехал в Китай он был поражен количеством людей, радостно храпящих в общественных местах. Он начал снимать спокойные уличные сцены и собрал коллекцию более чем из 700 фотографий.</p>
									<p>Фотографии людей, храпящих на скамейках в парке, в автомобилях, грузовиках и даже в телефонных будках, привлекли на его сайт <a href="http://www.sleepingchinese.com" class="blue--text">www.sleepingchinese.com</a> более 7 миллионов посетителей.</p>
									<p>Хагеманн объясняет, что его фотографии – это противовес историям о «Пробуждении Красного Дракона», которыми пестрят СМИ.</p>
									<p>«Эти фотографии показывают немцам и другим иностранцам истинное лицо Китая», говорит он на своем сайте.</p>
								</v-card-text>
							</v-card>
						</v-expansion-panel-content>
					</v-expansion-panel>
				</v-expansion-panels>
				<v-card v-show="$vuetify.breakpoint.mdAndUp">
					<v-card-text>
						<p>Вы знаете, что немецкий фотограф Бернд Хагеманн первый раз приехал в Китай он был поражен количеством людей, радостно храпящих в общественных местах. Он начал снимать спокойные уличные сцены и собрал коллекцию более чем из 700 фотографий.</p>
						<p>Фотографии людей, храпящих на скамейках в парке, в автомобилях, грузовиках и даже в телефонных будках, привлекли на его сайт <a href="http://www.sleepingchinese.com" class="blue--text">www.sleepingchinese.com</a> более 7 миллионов посетителей.</p>
						<p>Хагеманн объясняет, что его фотографии – это противовес историям о «Пробуждении Красного Дракона», которыми пестрят СМИ.</p>
						<p>«Эти фотографии показывают немцам и другим иностранцам истинное лицо Китая», говорит он на своем сайте.</p>
					</v-card-text>
				</v-card>
			</v-col>
			<v-col md="6" sm="12">
				<v-card>
					<v-card-text>
						<p>Мы думаем, что мы логичны и рациональны. Но, при этом мы часто не пониманием, почему мы ведем себя так или иначе.</p>
						<p>Что управляет нашим поведением и реакциями?</p>
						<p>На основании каких убеждений и ценностей мы принимаем решения?</p>
						<p>Системы, которые управляют нашим поведением, эксперты системного мышления назвали Ментальными Моделями.</p>
						<p>С одной стороны Ментальные Модели помогают нам жить, с другой стороны они создают помехи.
							Ментальные модели похожи на фильтры, через которые мы видим мир. Они интерпретируют события и факты.</p>
						<p>Особенно ярко это проявляется во взаимодействии разных культур.
							Когда в одном проекте работают 16 компаний и сотрудники в них представляют 17 разных национальностей
							есть риск столкнуться с непонятными привычками и традициями.</p>
						<p>В одной культуре считают, что днем спят только ленивые люди, которые не хотят работать.</p>
						<p>В других культурах спят днем именно для того, чтобы лучше работать.</p>
						<p>В одних культурах трудоголизм – в почете.</p>
						<p>В других культурах – трудоголизм приравнивается к неврозу.</p>
						<p>Кто прав?</p>
					</v-card-text>
				</v-card>
			</v-col>
			<v-col md="3" v-show="$vuetify.breakpoint.mdAndUp">
				<v-card>
					<v-img src="../assets/chainese_constitution.jpg">
					</v-img>
					<v-card-text>
						<p>Статья 43. Трудящиеся Китайской Народной Республики имеют право на отдых.
							Государство улучшает условия для отдыха и укрепления здоровья трудящихся, устанавливает для рабочих и служащих рабочее время и систему отпусков.
							<a href="http://www.npc.gov.cn/">http://www.npc.gov.cn/</a>
						</p>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
		<v-row>
			<v-col offset-md="3" md="6" sm="12">
				<v-card>
					<v-card-text>
						<p>При помощи системного мышления мы можем исследовать ментальные модели и найти оптимальное сбалансированное решение.</p>
						<p class="font-weight-bold">Решение, которое даст нужный результат!</p>
						<p>Системное мышление - это умение смотреть на ситуацию шире и дальше, вместо удара в лоб заходить с нужной стороны, уметь использовать влияние окружения и влияние времени.</p>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
		<v-row>
			<v-col md="6" offset-md="3" sm="12" align="center">
				<v-card>
					<v-card-text>
						<p class="font-weight-bold">Регистрируйтесь на интерактивный курс «Со скоростью света»:</p>
						<a href="https://zfrmz.com/YgUWGwvztvMFa5wo8nQb">  Регистрация!  </a>
						<p class="font-weight-bold">Будьте  успешными!</p>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
	</v-parallax>
</template>

<script>
	export default {
		name: "FourthEpisode"
	}
</script>

<style scoped>

</style>