<template>
	<v-container>
		<div class="d-flex justify-center align-center fill-height">
			<img class="mouse-img icon-scroll" src="../assets/mouse_scroll.png">
		</div>
	</v-container>
</template>

<script>
	export default {
		name: "MouseScroll"
	}
</script>

<style scoped>
	.icon-scroll{
		min-height: 200px;
	}

	.mouse-img{
		margin-left: 0px;
	}

	.icon-scroll {
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-name: scroll;
	}

	@keyframes scroll{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: translateY(92px);
	}
	}


</style>