<template>
	<v-parallax
		dark="true"
		src="../assets/dtek_parallax_3.png"
		height="900"
	>
		<v-row>
			<v-col sm="12" md="4" offset-md="4">
				<v-card align="center" elevation="8">
					<h1>«Спать или не спать?» – Вот в чем вопрос!<p>Понедельник, 13:37</p></h1>
				</v-card>
			</v-col>
		</v-row>
		<v-row>
			<v-col md="2" v-show="$vuetify.breakpoint.mdAndUp">
				<v-card>
					<v-card-text>
						<p>«В некоторых частях света жизнь практически останавливается после полудня. Люди отправляются домой с работы на сиесту, как ее называют в Испании, или на рипосо, как ее называют в Италии. Во многих частях мира, включая Грецию, Филиппины, Мексику, Коста-Рику, Эквадор и Нигерию и Китай дневной сон органично вплетен в ткань повседневной жизни.</p>
						<p><span class="font-weight-bold">В Китае:</span> после обеда работники часто делают перерыв и кладут голову на стол, чтобы вздремнуть на час. Это считается конституционным правом.</p>
						<a href="https://www.sleep.org/napping-around-the-world/">Тут можно узнать больше!</a>
					</v-card-text>
				</v-card>
			</v-col>
			<v-col sm="12" md="6" offset-md="1">
				<v-card>
					<v-card-text>
						<p>Вы в сердцах вызываете Начальника Стройки и Менеджера китайской компании-подрядчика, и устраиваете «разнос».</p>
						<v-divider></v-divider>
						<p><span class="font-weight-bold">- Как вы допустили такое безобразие?!  Как мы собираемся сдать объект в срок, если сотрудники отдыхают прямо на рабочем месте?!</span></p>
						<p>Чтобы его нагнать нам нужно ускоряться! Искать нестандартные решения!</p>
						<p>Начальник стройки вместе с представителем китайской компании в один голос объясняют, что у китайцев такая традиция: спать после обеда! </p>
						<p>«Это же «китайская сиеста». С 12.00 до 14.00 у нас есть 2 часа, чтобы расслабиться, пообедать
							и вздремнуть! В это время вы даже никому дозвониться не сможете!», - объясняет Вам китайский
							Менеджер. «И это не наши проблемы, что вы выбились из графика. Наши рабочие начали работы в срок и работают согласно контракту!»</p>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
	</v-parallax>
</template>

<script>

	export default {
		name: "SecondEpisode",
		methods: {
			setSEVars(choose) {
				this.visibleThird = true;
				if (choose)
					this.secondEEV += 15;
				else
					this.secondEEV += 10;
				this.activeBtn = true;
				this.$emit('change-estm-2', this.secondEEV, choose);
			}
		},
		props: {
			modelValue: Number,
		},
		emits: ['change-estm-2'],
		computed: {
			isDisabled: function () {
				return this.activeBtn;
			}
		},
		data: () => ({
			secondEEV: 0,
			visibleThird: false,
			activeBtn: false,
		}),
	}
</script>

<style scoped>

</style>