<template>
	<v-container>
		<v-row v-if="!answer">
			<v-col sm="12" md="6" offset-md="3">
				<v-row>
					<v-col align="center">
						<h4>Как реагировать?</h4>
					</v-col>
				</v-row>
				<v-row>
					<v-col align="center">
						<p>Звонить в Головной офис компании! Если не изменят поведения сотрудников, говорить о расторжении контракта!</p>
						<p class="red--text font-weight-bold">Или...</p>
						<p>Понять и простить!</p>
					</v-col>
				</v-row>
				<v-row
					justify="space-around"
					align="center"
				>
						<v-btn
								elevation="2"
								@click="setSEVars(true)"
								:disabled="isDisabled"
						>
							Звонить!
						</v-btn>
						<v-btn
								elevation="2"
								@click="setSEVars(false)"
								:disabled="isDisabled"
						>
							Понять и простить!
						</v-btn>
				</v-row>
			</v-col>
		</v-row>
		<v-row v-if="answer">
			<v-col sm="12" md="6" offset-md="3">
				<v-card>
					<v-card-text>
						<span class="red--text" v-if="SEAnswer">
							График:  без изменений
						</span>
						<span class="green--text" v-else>
							Время: - 5 рабочих дней
						</span>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
		<v-row v-if="answer">
			<v-col md="3">
				<MouseScroll></MouseScroll>
			</v-col>
			<v-col md="6" offset="">
				<v-card>
					<v-card-text>
						<p v-if="SEAnswer">Вы, как и реальный герой этой истории решили пойти на конфликт. Вы звоните в Головной офис китайской
							компании-поставщика, а Главный Менеджер по работе со странами Европы говорит о том, что:
						</p>
						<span v-else>
							<p>В отличие от реального героя нашей истории Вы решили не идти на конфликт.</p>
							<p class="font-weight-bold">И правильно сделали!</p>
							<p>В жизни, было так:</p>
							<p>Ваш прототип позвонил в Головной офис китайской компании-поставщика, а Главный Менеджер по работе со странами Европы сказал о том, что:</p>
						</span>
						<p class="font-weight-bold">1) Специалисты компании работают хорошо, согласно стандартам и темпам, которые прописаны в контракте.</p>
						<p class="font-weight-bold">2) Дневной сон – это не просто китайская традиция, это право на отдых, которое закреплено конституцией Китая и это залог эффективной работы сотрудников во вторую половину дня!</p>
						<p class="font-weight-bold">3) Кроме того, его специалисты жалуются, что их плохо кормят, а как говорят в Китае «Сытый работник – хороший работник»!</p>
						<p class="font-weight-bold">4) Наладчики, даже за дополнительную плату не хотят работать больше, чем это положено по договору.</p>
						<v-divider></v-divider>
						<p>Менеджер по работе со странами Европы вежливо настаивает на пересмотре Вашей позиции.</p>
						<p>	В противном случае, Вы рискуете остаться без высококвалифицированных наладчиков.</p>
					</v-card-text>
				</v-card>
			</v-col>
			<v-col md="3" v-show="$vuetify.breakpoint.mdAndUp">
				<MouseScroll></MouseScroll>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
	import MouseScroll from "@/components/MouseScroll";

	export default {
		name: "SecondEpisodeAnswer",
		components: {
			MouseScroll,
		},
		props: {
			modelValue: Number,
		},
		emits: ['change-estm-2'],
		computed: {
			isDisabled: function () {
				return this.activeBtn;
			}
		},
		methods: {
			setSEVars(choose) {
				this.answer = true;
				this.SEAnswer = choose;
				this.activeBtn = true;
				if (choose)
					this.secondEEV -= 0;
				else
					this.secondEEV -= 5;
				this.$emit('change-estm-2', this.secondEEV, choose);
			}
		},
		data: () => ({
			activeBtn: false,
			SEAnswer: false,
			answer: false,
			secondEEV: 0,
		}),
	}
</script>

<style scoped>

</style>