<template>
	<v-container>
		<v-row v-if="!answer">
			<v-col sm="12" md="6" offset-md="3">
				<v-row>
					<v-col align="center">
						<h4>Ваше решение?</h4>
					</v-col>
				</v-row>
				<v-row>
					<v-col align="center">
						<p>Полностью последовать совету коллег.</p>
						<p class="red--text font-weight-bold">Или...</p>
						<p>Последовать совету коллег, но спать китайской команде запретить, так как это будет разлагать
							общую дисциплину на стройке.</p>
					</v-col>
				</v-row>
				<v-row
					justify="space-around"
					align="center"
				>
						<v-btn
								elevation="2"
								:disabled="isDisabled"
								@click="setTEVars(true)"
						> Полностью следовать!
						</v-btn>
						<v-btn
								elevation="2"
								:disabled="isDisabled"
								@click="setTEVars(false)"
						> Последовать совету частично
						</v-btn>
				</v-row>
			</v-col>
		</v-row>
		<v-row v-if="answer">
			<v-col sm="12" md="6" offset-md="3">
				<v-card>
					<v-card-text>
						<span class="green--text" v-if=TEAnswer>
							График: + 30 рабочих дней <span v-if="(modelValue - TEAnswer) <= 0" class="green--text">(Восстановление графика строительства полностью!)</span><span v-else class="red--text">(Частичное восстановление графика строительства!)</span>
						</span>
						<span class="red--text" v-else>
							График: + 20 рабочих дней <span v-if="(modelValue - TEAnswer) <= 0" class="green--text">(Восстановление графика строительства полностью!)</span><span v-else class="red--text">(Частичное восстановление графика строительства!)</span>
						</span>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
		<v-row v-if="answer">
			<v-col md="3" v-show="$vuetify.breakpoint.mdAndUp">
				<MouseScroll></MouseScroll>
			</v-col>
			<v-col sm="12" md="6" offset-md="">
				<v-card>
					<v-card-text>
						<p v-if="TEAnswer">Вы, как и Ваш прототип приняли правильное решение! Вы смогли оторваться от своих стереотипов и посмотреть на ситуацию целостно!
						</p>
						<span v-else>
							<p>К сожалению, Вы не смогли оторваться от своих стереотипов и посмотреть на ситуацию целостно.</p>
							<p>В жизни все случилось по-другому.</p>
							<p>Руководитель проекта сделал следующее:</p>
						</span>
						<p class="font-weight-bold">1) Были наняты опытные украинские и европейские специалисты, которые могли сразу включиться в работы, быстро изучить новое оборудование и дальше, работать самостоятельно;</p>
						<p class="font-weight-bold">2) Всех перевели на посменную работу;</p>
						<p class="font-weight-bold">3) Увеличили порции еды – отреагировали на жалобы, который озвучил китайский менеджер;</p>
						<p class="font-weight-bold">4) Прекратили войну с «китайской сиестой»;</p>
						<p class="font-weight-bold">4) И еще – начали активно отмечать перед руководством китайской компании-поставщика успешную работу и то, что наладчики успешно передают свои знания и навыки коллегам;</p>
						<v-divider></v-divider>
						<p>Все это позитивно повлияло на ход работ и помогло закончить строительство в срок.</p>
					</v-card-text>
				</v-card>
			</v-col>
			<v-col md="3">
				<MouseScroll></MouseScroll>
			</v-col>
		</v-row>
		<v-row v-if="answer">
			<v-col sm="12" md="6" offset-md="3">
				<v-card>
					<v-card-title>Подведение итогов истории</v-card-title>
					<v-card-text>
						<p>
							В этой истории есть возможность сравнить Ваши решения с решениями, которые были приняты Главным Героем
							в жизни и с тем, насколько эти решения способствовали сохранению отношений с партнерами и достижению результата.
						</p>
						<v-row sm="12" md="6" offset-md="3" justify="space-around" align="center">
							<v-avatar color="teal" size="48" v-if="!FEChoose"><v-icon dark>mdi-check-bold</v-icon></v-avatar> <v-avatar color="red" size="48" v-else><v-icon dark>mdi-diameter-variant</v-icon></v-avatar>
							<v-avatar color="teal" size="48" v-if="!SEChoose"><v-icon dark>mdi-check-bold</v-icon></v-avatar> <v-avatar color="red" size="48" v-else><v-icon dark>mdi-diameter-variant</v-icon></v-avatar>
							<v-avatar color="teal" size="48" v-if="TEChoose"><v-icon dark>mdi-check-bold</v-icon></v-avatar> <v-avatar color="red" size="48" v-else><v-icon dark>mdi-diameter-variant</v-icon></v-avatar>
						</v-row>
							<p v-if="result" class="mt-3">Ваши выборы говорят о том, что Вы способны посмотреть на ситуацию с разных сторон и находить оптимальное решение для достижения результата.</p>
							<p v-if="!result" class="mt-3">Ваши выборы говорят о том, что Вам необходимо тренировать способность смотреть на ситуацию с разных сторон и находить оптимальное решение для достижения результата.</p>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
	import MouseScroll from "@/components/MouseScroll";

	export default {
		name: "ThirdEpisodeAnswer",
		components: {
			MouseScroll,
		},
		props: {
			modelValue: Number,
			FEChoose: Boolean,
			SEChoose: Boolean,
			TEChoose: Boolean,
		},
		emits: ['change-estm-3'],
		computed: {
			isDisabled: function () {
				return this.activeBtn;
			},
		},
		methods: {
			setTEVars(choose) {
				let counter = 0;
				if (this.FEChoose === false)
					counter++;
				if (this.SEChoose === false)
					counter++;
				if (choose === true)
					counter++;

				console.log('counter = ' + counter);

				if (counter >= 2)
					this.result = true;
				else
					this.result = false;
				this.answer = true;
				this.TEAnswer = choose;
				this.activeBtn = true;

				if (choose)
					this.thirdEEV -= 30;
				else
					this.thirdEEV -= 20;
				console.log('gopa' + this.FEChoose + this.SEChoose + this.TEChoose);
				this.$emit('change-estm-3', this.thirdEEV, choose);
			}
		},
		data: () => ({
			activeBtn: false,
			TEAnswer: false,
			answer: false,
			thirdEEV: 0,
			result: true,
		}),
	}
</script>

<style scoped>

</style>