<template>
	<v-parallax
		dark="true"
		src="../assets/dtek_parallax_4.png"
		height="auto"
		>
		<v-row>
			<v-col sm="12" md="4" offset-md="4">
				<v-card align="center" elevation="8">
					<h1>День Второй: <p>Вторник, 7:30</p></h1>
				</v-card>
			</v-col>
		</v-row>
		<v-row justify="center">
			<v-col sm="12" md="6" offset-md="3">
				<v-card>
					<v-card-text>
						«Что-то ситуация <span class="font-weight-bold">«в лоб»</span> не решается!...» – подумали Вы, и это очевидно.
					</v-card-text>
					<v-divider></v-divider>
					<v-card-text>
						<p>Как наладить оставшиеся <span class="red--text">60 инверторов</span> за две недели и не потакать национальным традициям?</p>
						<p>Вам нужен совет, мнение экспертов. Поэтому вы и звоните своим коллегам.</p>
						<p>- Как запретить им спать днем? Они же теряют драгоценное время. Мы можем вести работы с 5 часов утра до 20.00 вечера,
							когда светит солнце. Но два часа драгоценного дневного времени они теряют в снах.</p>
						<p>- Слушай, ты не там ищешь! – был ответ коллег. </p>
						<p>- Они спали, спят и будут спать. И пойми, это в нашей ментальности – есть и спать нужно быстро.
							А у них дневной сон – это право на здоровый образ жизни, которое по Конституции гарантировано государством.
							Когда ты их будишь и ругаешься, ты нарушаешь их суверенное право на отдых.</p>
						<p>- НЕТ! Они у нас в стране работают! Пусть живут по нашей Конституции!</p>
						<p>- Слушай, лучше найми толковых украинских специалистов, которые могут быстро обучиться рядом с китайскими наладчиками. Разбей их на две смены и пусть все работают полный световой день.
							Ты и производительность увеличишь и войну со сном прекратишь!</p>
						<p>- На две смены и с украинскими специалистами – это супер – решение, а вот «войну со сном прекратить»… это я подумаю…</p>

					</v-card-text>
				</v-card>
			</v-col>
			<v-col md="2" offset="1" v-show="$vuetify.breakpoint.mdAndUp">
				<v-card>
					<v-img src="../assets/sunrise.gif"></v-img>
				</v-card>
			</v-col>
		</v-row>
	</v-parallax>
</template>

<script>
	export default {
		name: "ThirdEpisode",
		methods: {
			setTEVars (choose) {
				this.visibleFourth = true;
				if (choose)
					this.thirdEEV -= 45;
				else
					this.thirdEEV -= 30;
				this.activeBtn = true;
				this.$emit("change-estm-3", this.thirdEEV, choose)
			}
		},
		props: {
			modelValue: Number,
		},
		emits: ['change-estm-3'],
		computed: {
			isDisabled: function () {
				return this.activeBtn;
			}
		},
		data: () => ({
			thirdEEV: 0,
			visibleFourth: false,
			activeBtn: false,
		}),
	}
</script>

<style scoped>

</style>