<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-spacer></v-spacer>
      <v-card light>
        <v-card-text>
          <h3 class="red--text">Отставание по графику на <span class="headline">{{ estimate }}</span> дней!</h3>
        </v-card-text>
      </v-card>
    </v-app-bar>

    <v-main>
      <v-parallax
        dark
        src='../src/assets/dtek_parallax_1.png'
        height="auto"
      >
        <v-row>
          <v-col md="4" xs="12">
            <h4>D Stories №1: (Бизнес Истории Академии ДТЭК)</h4>
          </v-col>
          <v-col offset-md="4" md="4" >
            <v-card v-show="$vuetify.breakpoint.md">
              <v-card-text>
                <i style="color: #324f9d;">
                  История основана на реальных событиях.
                  Все совпадения неслучайны,
                  а обобщения и преувеличения сделаны исключительно с учебно-развивающей целью.
                </i>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col md="8" offset-md="2" sm="12" align="center">
            <h1 >Особенности национального рабочего дня</h1>
          </v-col>
        </v-row>
        <v-row>
          <v-col
                  sm="12"
                  md="6"
                  offset-md="3"
          >
            <v-card elevation="5">
              <v-img
                src='../src/assets/blok1_text_img.png'
              ></v-img>
              <v-card-text>
                <span class="title"><p>Представьте себе, что Вы Руководитель масштабного проекта - строительства Солнечной Электростанции.</p>
                  <p>Каждый день Вы принимаете решения, от которых зависят сроки, бюджет и качество строительства.</p>
                  <p>На сегодня из-за погодных условий и задержки поставок комплектующих у вас уже отставание по графику на 2 месяца.</p>
                  <p>А это 40 рабочих дней!</p>
                  <p>Судьба одного из самых крупных объектов возобновляемой энергетики в Европе в Ваших руках!</p></span>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-parallax>
      <EntryAnswer v-bind:model-value="entryChoose" @check-var="check"/>
      <FirstEpisode v-if="visibleEntry" v-bind:model-value="estimate"/>
      <FirstEpisodeAnswer v-if="visibleEntry" v-bind:model-value="estimate" @feanswer="firstAnswer"></FirstEpisodeAnswer>
      <SecondEpisode v-if="visibleSecond" v-bind:model-value="estimate"></SecondEpisode>
      <SecondEpisodeAnswer v-if="visibleSecond" v-bind:model-value="estimate" @change-estm-2="secondAnswer"></SecondEpisodeAnswer>
      <ThirdEpisode v-if="visibleThird" v-bind:model-value="estimate"></ThirdEpisode>
      <ThirdEpisodeAnswer v-if="visibleThird" v-bind:model-value="estimate" :FEChoose="FEChoose" :SEChoose="SEChoose" :TEChoose="TEChoose" @change-estm-3="thirdAnswer"></ThirdEpisodeAnswer>
      <FourthEpisode v-if="visibleFourth"></FourthEpisode>
    </v-main>
  </v-app>
</template>

<script>
import EntryAnswer from "@/components/EntryAnswer";
import FirstEpisode from "@/components/FirstEpisode";
import SecondEpisode from "@/components/SecondEpisode";
import FirstEpisodeAnswer from "@/components/FirstEpisodeAnswer";
import SecondEpisodeAnswer from "@/components/SecondEpisodeAnswer";
import ThirdEpisode from "@/components/ThirdEpisode";
import ThirdEpisodeAnswer from "@/components/ThirdEpisodeAnswer";
import FourthEpisode from "@/components/FourthEpisode";

export default {
  name: 'App',

  components: {
    EntryAnswer,
    FirstEpisode,
    FirstEpisodeAnswer,
    SecondEpisode,
    SecondEpisodeAnswer,
    ThirdEpisode,
    ThirdEpisodeAnswer,
    FourthEpisode
  },
  computed: {
    disableEntryBtn:function()  {
      return this.activeEntryBtn;
    },
  },
  methods: {
    reset() {
      this.visibleEntry = false;
      this.visibleSecond = false;
      this.visibleThird = false;
      this.visibleFourth = false;
    },
    check(choose) {
      console.log('choose = ' + choose);
      this.visibleEntry = true;
    },
    setEntryVar(choose) {
       this.visibleEntry = true;
       this.activeEntryBtn = true;
       this.entryChoose = choose;
      console.log('entryChoose is = ' + this.entryChoose);
    },
    firstAnswer(num, answer) {
      this.estimate += num;
      this.FEChoose = answer;
      this.visibleSecond = true;
      console.log('this estimate  = ' + this.estimate + ' num is = ' + num + ' answer = ' + answer);
    },
    secondAnswer(num, answer) {
      this.estimate += num;
      this.SEChoose = answer;
      this.visibleThird = true;
      console.log('this estimate = ' + this.estimate + ' num is = ' + num + ' answer = ' + answer);
    },
    thirdAnswer(num, answer) {
      this.estimate += num;
      this.TEChoose = answer;
      this.visibleFourth = true;
      console.log('this estimate = ' + this.estimate + ' num is = ' + num + ' answer = ' + answer);
    }
  },
  data: () => ({
    entryChoose: true,
    visibleEntry: false,
    estimate: 40,
    isEstimate: false,
    FEChoose: true,
    SEChoose: true,
    TEChoose: true,
    visibleSecond: false,
    visibleThird: false,
    visibleFourth: false,
    activeEntryBtn: false,
  }),
};
</script>

<style>

  @font-face {
    font-family: pragmatica, sans-serif;
    src: local("Pragmatica Reqular"), url("fonts/Pragmatica-Regular.ttf");
  }


</style>
